Source: busybox
Section: core
Priority: required
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 7)
XCS-Cross-Host-Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0

Package: busybox
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: adduser, awk, bsdutils, busybox-static, coreutils, dash, hostname, iputils-ping, login, mini-findutils, mini-util-linux, module-init-tools, modutils, ncurses-bin, net-tools, passwd, procps, psmisc, sed, sysvinit, tar, tftp, tftp-hpa, wget
Provides: awk, slind-virtual-adduser, slind-virtual-awk, slind-virtual-bsdutils, slind-virtual-coreutils, slind-virtual-debianutils, slind-virtual-findutils, slind-virtual-hostname, slind-virtual-ifupdown, slind-virtual-init, slind-virtual-login, slind-virtual-module-init-tools, slind-virtual-modutils, slind-virtual-ncurses-bin, slind-virtual-net-tools, slind-virtual-netstat, slind-virtual-passwd, slind-virtual-ping, slind-virtual-procps, slind-virtual-psmisc, slind-virtual-sed, slind-virtual-shell, slind-virtual-tar, slind-virtual-tftp, slind-virtual-util-linux, slind-virtual-wget
Replaces: busybox-static, busybox-tiny, busybox-heavy
Description: Tiny utilities for small and embedded systems
 BusyBox combines tiny versions of many common UNIX utilities into a single
 small executable. It provides minimalist replacements for the most common
 utilities you would usually find on your desktop system (i.e., ls, cp, mv,
 mount, tar, etc.). The utilities in BusyBox generally have fewer options than
 their full-featured GNU cousins; however, the options that are included
 provide the expected functionality and behave very much like their GNU
 counterparts.

Package: busybox-dbg
Architecture: any
Depends: busybox (= ${binary:Version})
Description: Tiny utilities for small and embedded systems -- debug symbols
 This package contains a debugging symbols for busybox.

Package: hwclock
Architecture: all
Depends: busybox | busybox-heavy | busybox-static
Description: hardware clock initialization
 Setting the hardware clock on startup and saving it on shutdown.
 .
 This package relies on busybox to provide actual /sbin/hwclock and just
 contains the initscript.
